# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# Micromamba / Conda
.env
.micromamba/
*.conda

# Logs and temporary files
*.log
*.tmp

# Docker / Compose
docker-compose.override.yml

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace